@font-face {
    font-family: Pinyon;
    src: url("./assets/fonts/PinyonScript-Regular.ttf");
}


@import "tailwindcss";

@theme {
    --color-black-mamba : #1B1B1B;
    --font-pinyon : Pinyon, sans-serif;
}